@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  background-color: #e6d5b8;
  font-family: 'Open Sans', sans-serif;
}

.error {
  width: 85vw;
  margin: 0 auto 0.4em;
  border: 3px solid indianred;
  padding: 0.5em;
  border-radius: 0.5em;
  background: white;
  text-align: center;
  color: indianred;
  font-weight: bold;
}
.success {
  width: 85vw;
  margin: 0 auto 0.4em;
  border: 3px solid forestgreen;
  padding: 0.5em;
  border-radius: 0.5em;
  background: white;
  text-align: center;
  color: forestgreen;
  font-weight: bold;
}

button {
  margin-left: 0.6em;
}
