@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  /* background-color: rgb(73, 72, 72); */
  background-color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

h1 {
  font-size: 2.6rem;
  color: #b0c8f0;
  text-shadow: 3px 2px black;
  margin-left: 16px;
}

.o {
  color: dodgerblue;
  font-size: 1.9rem;
}

p {
  color: black;
}
div > div > p {
  margin-left: 16px;
}

.blogs {
  margin-top: 1em;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  max-width: min(85vw, 780px);
  margin-left: 1em;
  padding: 0.3em;
  background-color: #ead5ec;
}

.blog {
  box-sizing: border-box;
  margin: 0.1em 0.1em 0 0.1em;
  padding: 0.6em 0.9em;
}

.blog:nth-child(odd) {
  background-color: whitesmoke;
}

.blog:nth-child(even) {
  /* background-color: #ead5ec; */
  background-color: whitesmoke;
}

.error {
  width: 85vw;
  margin: 0 auto 0.4em;
  border: 3px solid indianred;
  padding: 0.5em;
  border-radius: 0.5em;
  background: white;
  text-align: center;
  color: indianred;
  font-weight: bold;
}
.success {
  width: 85vw;
  margin: 0 auto 0.4em;
  border: 3px solid forestgreen;
  padding: 0.5em;
  border-radius: 0.5em;
  background: white;
  text-align: center;
  color: forestgreen;
  font-weight: bold;
}

form.login-form {
  display: grid;
  grid-template-columns: 70px 240px;
  grid-template-rows: 30px 30px 30px;
  grid-gap: 0.6em;
}
form.blog-form {
  display: grid;
  grid-template-columns: 70px 240px;
  grid-template-rows: repeat(4, 30px);
  grid-gap: 0.6em;
}

form label {
  text-align: right;
  grid-column: 1 / 2;
  font-size: 0.8rem;
}

form input {
  grid-column: 2 / 3;
  height: 20px;
  padding-left: 0.4em;
  border-radius: 0.4em;
  background-color: #e8f0fe;
}

/* LOGIN FORM */
form input[name='Password'] {
  grid-row: 2 / 3;
  width: 240px;
}

form input[name='Username'] {
  width: 240px;
}

.eye {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-top: 3px;
  margin-left: 228px;
  position: relative;
  z-index: 2;
  opacity: 45%;
  cursor: pointer;
}

/* BLOG FORM */
form input[name='title'] {
  grid-row: 1 / 2;
  width: 400px;
}

form input[name='author'] {
  grid-row: 2 / 3;
  width: 400px;
}

form input[name='url'] {
  grid-row: 3 / 4;
  width: 400px;
}

button[name='save'] {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  margin-bottom: 2.5em;
}

form button {
  grid-column: 2 / 3;
  grid-row: 3/ 4;
  width: 6em;
  height: 26px;
  margin-bottom: 1em;
  border-radius: 0.4em;
  cursor: pointer;
}

form button:hover {
  background-color: white;
}
input:focus {
  outline: 2px solid darkkhaki;
}

button[name='logout'] {
  margin-left: 0.6em;
  width: 6em;
  border-radius: 0.4em;
  height: 26px;
}

button[name='logout']:hover {
  background-color: white;
}
