[data-reactroot] {
  height: 100vh !important;
}

body {
  margin: 0;
  /* height: 100%; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 1.5rem;
  color: rgb(9, 9, 10);
}

p {
  margin-top: 4px;
}

ul {
  list-style: none;
  margin: 1.5rem;
  margin-top: 0;
  padding: 0;
}

.wrapper {
  margin: 0;
  min-height: 96vh;
  margin: 16px;
  margin-bottom: -34px;
}

.footer {
  line-height: 1;
  text-align: center;
  color: white;
  font-style: italic;
  font-size: 16px;
  height: 56px;
  background: rgb(66, 66, 66);
}

.note {
  color: rebe;
  padding-top: 5px;
  font-size: 1em;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 1.2rem;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

ul li::before {
  content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: rgb(1, 1, 105); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  font-size: 1.3rem;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1rem; /* Also needed for space (tweak if needed) */
  margin-left: -1.5rem; /* Also needed for space (tweak if needed) */
  margin-right: 0.7rem;
}

button {
  display: inline-block;
  padding: 0.25em 1.2em;
  border: 0.05em solid #000;
  margin: 0 0.3em 0.3em 0.5rem;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #222222;
  background-color: rgb(164, 211, 250);
  text-align: center;
  transition: all 0.2s;
}

button:hover {
  color: #000000;
  background-color: #ffffff;
}

.button-sm {
  font-size: 0.6em;
  background-color: orangered;
  padding: 0.25em 0.8em;
  color: #fff;
  border-radius: 4px;
}
.button-sm--grey {
  font-size: 0.6em;
  background-color: grey;
  padding: 0.25em 0.8em;
  color: #fff;
  border-radius: 4px;
}

.toggle {
  margin: 0 0 0.5rem 0;
}

form {
  margin-top: 1rem;
}
