body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 1.5rem;
  color: rgb(9, 9, 10);
}

p {
  margin-top: 4px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  margin: 0 0.5rem 0 0.5rem;
}

.toggle {
  margin: 0 0 0.5rem 0;
}

form {
  margin-top: 1rem;
}
